<html>
<head>
    <title>我的城池营垒地图</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=eRk1USGm4cG6fCqBIcR8XRIBV7Bg94yY"></script>
    <link rel="stylesheet" href="css/map1.css">
</head>
<body>
<div id="foot">
    <button type="button"><a href="../client/login.html">注销账号</a></button>
    <button type="button"><a href="../knapsack/package.html">背包</a></button>
    <button type="button"><a href="../Shop/Shop1.html">商店</a></button>
</div>
<div id="container"></div>
<div id="botton">
    <button type="button"><a href="../echarts/My_fighting_power.html">我的战力</a></button>
    <button type="button"><a>选择攻击目标</a></button>
</div>
<script>
    // var map = new BMap.Map("container");          // 创建地图实例
    // var point = new BMap.Point(116.404, 39.915);  // 创建点坐标
    // map.centerAndZoom(point, 17);// 初始化地图，设置中心点坐标和地图级别
    var map = new BMap.Map("container");
    var point = new BMap.Point(116.331398,39.897445);
    map.centerAndZoom(point,12);
<!--    var geolocation = new BMap.Geolocation();-->
<!--    geolocation.getCurrentPosition(function(r){-->
<!--        if(this.getStatus() == BMAP_STATUS_SUCCESS){-->
<!--            var mk = new BMap.Marker(r.point);-->
<!--            map.addOverlay(mk);-->
<!--            map.panTo(r.point);-->
<!--            alert('您的位置：'+r.point.lng+','+r.point.lat);-->
<!--        }-->
<!--        else {-->
<!--            alert('failed'+this.getStatus());-->
<!--        }-->
// <!--    });-->
// // <!--    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放-->
// <!--    map.addControl(new BMap.NavigationControl());-->
// <!--    map.addControl(new BMap.OverviewMapControl());-->
</script>
</body>
</html>